/* App.css */

body {
  padding-top: 56px;
}

/* Estilo básico da sidebar */
.sidebar {
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffffff; /* Fundo branco */
  z-index: 1;
  overflow-y: auto;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: inherit;
  border-right: 1px solid #e5eaee; /* Borda no lado direito */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombreamento */
}

.sidebar .nav {
  width: 100%;
}

.sidebar .nav-link {
  color: #333;
  padding: 10px 20px;
  text-align: left;
  font-family: inherit;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
  color: #006232;
}

/* Estilo da área de conteúdo */
.content {
  margin-left: 250px;
  padding: 20px;
  font-family: inherit;
}

/* Ajuste de z-index para garantir que o dropdown não seja cortado */
.navbar {
  z-index: 1030;
  font-family: inherit;
}

/* Navbar com fundo branco */
.navbar-custom {
  --bs-navbar-padding-y: 0rem !important;
  border-bottom: 1px solid #dee2e6; /* Borda na parte inferior */
  background-color: #ffffff; /* Fundo branco */
}

.navbar-brand-custom {
  margin-left: 50px; /* Ajuste para centralizar o título */
  font-size: 1.4rem !important;
  color: #28a745 !important;
}

/* Dropdown menu ajustes */
.navbar .dropdown-menu {
  z-index: 1050;
  min-width: auto;
  width: auto;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  overflow: visible;
  right: 0;
  left: auto !important;
  font-family: inherit;
}

.navbar .dropdown-item {
  padding: 0.25rem 0.5rem;
  font-family: inherit;
}

.navbar .dropdown-toggle::after {
  margin-left: 8px;
}

/* Personaliza links na Nav */
.custom-nav .nav-link {
  background-color: #93a9c0;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
  font-size: 0.950rem;
  padding: 0.25rem 0.75rem;
  text-align: center;
  width: 180px;
  align-self: center;
  font-family: inherit;
}

.custom-nav .nav-link.active,
.custom-nav .nav-link.show,
.custom-nav .nav-link:active {
  background-color: #28a745 !important;
  color: white !important;
  box-shadow: none !important;
}

.custom-nav .nav-link:focus {
  outline: none;
  box-shadow: none;
}

.custom-nav .nav-link:hover {
  background-color: #28a745;
  color: white;
}

/* Estilo para reduzir o tamanho dos campos de entrada */
.form-control {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  height: auto;
  width: 90%;
  margin: 5px 0;
  font-family: inherit;
}

.custom-link-button {
  color: #28a745 !important;
  text-decoration: underline;
}

/* App.css */
.nav-link.active {
  font-weight: bold;
  color: #28a745 !important;
  background-color: #e9ecef;
  border-left: 4px solid #28a745;
}

/* Shadow box para elementos adicionais */
.shadow-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

.d-flex.justify-content-center.align-items-center {
  gap: 10px; /* Define o espaçamento uniforme entre os ícones */
}

.fa-icon {
  cursor: pointer;
  font-size: 1.2rem; /* Ajuste o tamanho dos ícones, se necessário */
}

.fa-icon:hover {
  transform: scale(1.1); /* Pequeno efeito de zoom ao passar o mouse */
}
